# Note Basics
* "*" for dot
* **hi--->**Bold**
* *hi---> *Itallic*
* ***hi---> ***bolditallic*** 
    * " *"tab or " *tab" for sub list
    
    
1. order list element 1
2. order list element 2


![jupyter logo](2.jpg)


please click the [sir web][1], [msn][2], [google][3] bloew

[1]:https://sites.gooogle.com/view/apssdc-level2-june-2019  "sir web"
[2]:https://www.msn.com/en-in/  "msn"
[3]:http://www.google.com/  "google"

python comands

In [4]:
n1 = 123456


n2 = n3 = n4 = n1


a,b,c=123, 234, 345


print(a,b,c)

123 234 345

### Arihimethic operations

* +
* -
* *
* /
* %
* =

In [25]:
n1 % 11


n3 = n2 ** 123456


type(n3)
len(str(n3))


atoms= 10 ** 20
atoms

100000000000000000000

In [26]:
atoms<10**9

False

In [27]:
atoms<10**90

True

### Data types and floating pointd

In [31]:
type(a)


s="asdfghjkl"
type(s)

str

In [ ]:
if atoms < 10 ** 90:
    print("true")

In [32]:
n1=int(input("Enter the second number"))
n2=int(input("Enter the second number"))
n3=int(input("Enter the third number"))
if n1>n2 and n1>n3:
   print("n1 is gratest Number")
elif n2>n3:
   print("n2 is grea")
else:
   print("n3")

Enter the second number123
Enter the second number234
Enter the third number121
n2 is grea

In [33]:
n1=int(input("Enter the second number"))
n2=str(n1)
len(n2)

Enter the second number12345678

8

In [38]:
n1=int(input("Enter the second number"))
if(n1%400==0):
    print("leep")
elif((n1%100!=0) and (n1%4==0)):
    print("leep")
else:
    print("non leep")

Enter the second number2016
leep

In [40]:
n1=int(input("Enter the second number"))
if(n1%10==0):
    print("the given number is multible by 10")
else:
    print("its not multible by 10")

Enter the second number100
the given number is multible by 10

In [44]:
n1=int(input("Enter the second number"))
n2=1000
if(n2%n1==0):
    print("the number is factor")
else:
    print("not a factor")

Enter the second number2
the number is factor

In [46]:
n1=int(input("Enter the second number"))
n2=str(input("Enter the second number"))
n3=str(n1)
if(n3==n2):
    print("equil")
else:
    print("non equil")

Enter the second number123456
Enter the second number123456
equil

In [48]:
n1=int(input("Enter the second number"))
if(n1%400==0):
    print("leep")
elif((n1%100!=0) and (n1%4==0)):
    print("leep")
    print(366*24*60*60*1000000000)
else:
    print("non leep")
    print(365*24*60*60*1000000000)

Enter the second number2004
leep
31622400000000000

In [49]:
n1=int(input("Enter the second number"))
n2=n1**0.5
print(n2)

Enter the second number4
2.0

In [2]:
def alternativeNum(start,end):
    for value in range(start,end+1,3):
        print(value,end=" ")
    return
       
alternativeNum(100,120)

100 103 106 109 112 115 118

In [21]:
 def reverseRange(start,end):
    for value in range(start,end,-5):
        print(value,end=" ")
    return
       
reverseRange(120,100)

120 115 110 105

In [25]:
def oddNumbers(start,end):
    for value in range(end,start-1,-1):
        
        if value%2==1 :
            print(value,end=" ")
    return

oddNumbers(1,100)

99 97 95 93 91 89 87 85 83 81 79 77 75 73 71 69 67 65 63 61 59 57 55 53 51 49 47 45 43 41 39 37 35 33 31 29 27 25 23 21 19 17 15 13 11 9 7 5 3 1

In [27]:
def sumofavg(start,end):
    sum = 0
    for i in range (start,end+1):
        sum=sum+i
    return sum


sumofavg(100,200)

15150

In [37]:
def sumofavg(start,end):
    su = 0
    total=0
    for i in range (start,end+1):
        su=su+i
        total=total+1        
    #return su
    print(su/total)


sumofavg(100,500)

300.0

In [39]:
def sumofavg(start,end):
    su = 0
    #total=0
    for i in range (start,end+1):
        su=su+i
     #   total=total+1        
    #return su
    print(su/(end-start+1))


sumofavg(100,500)

300.0

In [55]:
def leepyear(start,end):
    for i in range (start,end+1):
        if i%400==0 or (i%100!=0) and (i%4==0):
            print(i)        
        #else:
            #print("non leep")
    #print(i)


leepyear(2000,2040)

2000
2004
2008
2012
2016
2020
2024
2028
2032
2036
2040

In [53]:
def leepyear(start,end):
    leep=0
    years=0
    for i in range (start,end+1):
        if(i%400==0):
            print(i)
            leep=leep+1
            years=years+1
        elif((i%100!=0) and (i%4==0)):
            print(i)
            leep=leep+1
            years=years+1
        else:
            years=years+1
    print(years*365+leep)


leepyear(2000,2005)

2000
2004
2192

In [50]:
365*6

2190

In [118]:
def leepyear(start,end):
    leep=0
    years=0
    for i in range (start,end+1):
        if i%400==0 or (i%100!=0) and (i%4==0):
            print(i)
            leep=leep+1
            years=years+1        
        else:
            years=years+1
    print((years*365+leep)*24)


leepyear(1976,1998)

1976
1980
1984
1988
1992
1996
201624

In [60]:
2192*24

52608

In [67]:
def leepyear(a,b,c,d):
    days=0
    if (a==2 or d==2):
        days=28
    elif (a<=7)
    e=c-a-1
    f=d-a
    leep=0
    years=0
    for i in range (b+1,d):
        if i%400==0 or (i%100!=0) and (i%4==0):
            #print(i)
            leep=leep+1
            years=years+1        
        else:
            years=years+1  
    print(years)
    f*24
    
    


leepyear(5,2019,6,2019)

0

In [145]:
f_date = date(1975,11,1)
l_date = date(1999, 4,1)
l= l_date - f_date
print(l)
i=l*24
print(i)

8552 days, 0:00:00
205248 days, 0:00:00

In [134]:
h="dfghjkqwertyui"
h[::-1]

'iuytrewqkjhgfd'

In [135]:
h[::]

'dfghjkqwertyui'

In [130]:
(151*24)+201624

205248

In [183]:
def days(m1,y1,m2,y2):
    leep=0
    years=0
    su=0
    for i in range (y1+1,y2):
        if i%400==0 or (i%100!=0) and (i%4==0):
            # print(i)
            leep=leep+1
            years=years+1        
        else:
            years=years+1
    #print((years*365+leep)*24)
    for j in range(m1,13):
        if(j>7 and j%2==0):
            su=su+31
            """"if i%400==0 or (i%100!=0) and (i%4==0):
                su=su+29
            else:
                su=su+28"""
        else:
            su=su+30
    print(su)
    for k in range(1,m2+1):
        if (k==2):
            if(y2%400==0 or (y2%100!=0 and y2%4==0)):
                su=su+29
            else:
                su=su+28
        elif(k<=7 and k%2==0):
            su=su+30            
        else:
            su=su+31
    print(su)
    print((years*365+leep+su)*24)    
    
    
days(11,1975,3,1999)

61
151
205248

In [152]:
205248-201624

3624