### Set in Python

    Represented by {}

In [39]:
z=set() #---> Declaring a set
type(z)
z

set()

In [15]:
a={1,2,3,4,5,6,7,8,9,9,8,7,6,5,4,3,2,1}
a
a.add(0.87)
a.add(4.5)
a.update((10,11,12,13,14,15,-1,-1,-2,-2))

a

{-2, -1, 0.87, 1, 2, 3, 4, 4.5, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15}

In [6]:
help(set)

Help on class set in module builtins:

class set(object)
 |  set() -> new empty set object
 |  set(iterable) -> new set object
 |
 |  Build an unordered collection of unique elements.
 |
 |  Methods defined here:
 |
 |  __and__(self, value, /)
 |      Return self&value.
 |
 |  __contains__(...)
 |      x.__contains__(y) <==> y in x.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iand__(self, value, /)
 |      Return self&=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __ior__(self, value, /)
 |      Return self|=value.
 |
 |  __isub__(self, value, /)
 |      Return self-=value.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __ixor__(self, value, /)
 |      Return self^=value.
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __or__(self, value, /)
 |      Return self|value.
 |
 |  __rand__(self, value, /)
 |      Return value&self.
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __ror__(self, value, /)
 |      Return value|self.
 |
 |  __rsub__(self, value, /)
 |      Return value-self.
 |
 |  __rxor__(self, value, /)
 |      Return value^self.
 |
 |  __sizeof__(...)
 |      S.__sizeof__() -> size of S in memory, in bytes
 |
 |  __sub__(self, value, /)
 |      Return self-value.
 |
 |  __xor__(self, value, /)
 |      Return self^value.
 |
 |  add(...)
 |      Add an element to a set.
 |
 |      This has no effect if the element is already present.
 |
 |  clear(...)
 |      Remove all elements from this set.
 |
 |  copy(...)
 |      Return a shallow copy of a set.
 |
 |  difference(...)
 |      Return the difference of two or more sets as a new set.
 |
 |      (i.e. all elements that are in this set but not the others.)
 |
 |  difference_update(...)
 |      Remove all elements of another set from this set.
 |
 |  discard(...)
 |      Remove an element from a set if it is a member.
 |
 |      If the element is not a member, do nothing.
 |
 |  intersection(...)
 |      Return the intersection of two sets as a new set.
 |
 |      (i.e. all elements that are in both sets.)
 |
 |  intersection_update(...)
 |      Update a set with the intersection of itself and another.
 |
 |  isdisjoint(...)
 |      Return True if two sets have a null intersection.
 |
 |  issubset(...)
 |      Report whether another set contains this set.
 |
 |  issuperset(...)
 |      Report whether this set contains another set.
 |
 |  pop(...)
 |      Remove and return an arbitrary set element.
 |      Raises KeyError if the set is empty.
 |
 |  remove(...)
 |      Remove an element from a set; it must be a member.
 |
 |      If the element is not a member, raise a KeyError.
 |
 |  symmetric_difference(...)
 |      Return the symmetric difference of two sets as a new set.
 |
 |      (i.e. all elements that are in exactly one of the sets.)
 |
 |  symmetric_difference_update(...)
 |      Update a set with the symmetric difference of itself and another.
 |
 |  union(...)
 |      Return the union of sets as a new set.
 |
 |      (i.e. all elements that are in either set.)
 |
 |  update(...)
 |      Update a set with the union of itself and others.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

In [20]:
a={1,2,3,4,5,5,6,7,8,9,2,4,5,4,33,2,2,4,5,66,6,777}
b={1122,556,6,6,7,8,8,9,9,7,6,54,3,2,3456,78,76,543,456,78,7,65,4}

a.union(b)
a.intersection(b)

{2, 3, 4, 6, 7, 8, 9}

In [22]:
a={1,2,3,4,5,5,6,7,8,9,2,4,5,4,33,2,2,4,5,66,6,777}
b={1122,556,6,6,7,8,8,9,9,7,6,54,3,2,3456,78,76,543,456,78,7,65,4}
c={1111,33333,44444}

a.isdisjoint(b)  #  ---> False because a and b are not unique

a.isdisjoint(c) # ------>True because a and b are unique

True

In [25]:
a-b #----> returns elements of which are not in a from b

b-a

{54, 65, 76, 78, 456, 543, 556, 1122, 3456}

In [31]:
sorted(a,reverse=True) #---> returns the list in sorted

{1, 2, 3, 4, 5, 6, 7, 8, 9, 33, 66, 777}

In [32]:
a ^ b #---> returns elements not common in a and b

{1, 5, 33, 54, 65, 66, 76, 78, 456, 543, 556, 777, 1122, 3456}

**Procedural:**  C

**Object Oriented:**  Java

**Scripting:**  Python, PHP, JS, Shell Scripting, Perl,etc

**Functional:** Python, Haskell, Scall

**Logic:** Prolog, Lisp

### List Comprehension

In [45]:
li=[];n=10

for i in range(1,n+1):
    li.append(i)
li

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [49]:
li=[i for i in range(1,11)]
li

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [51]:
# Functional program to print cubes of n natural numbers in to a list

li=[i**3 for i in range(1,11)]
li

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [63]:
# Function to calculate the factorial of a number

def factorial(n):
    if n==0 or n==1:
        return 1
    return n*(factorial(n-1))

# Apply list comprehension to calculate factorial of n natural numbers
n=50
FactorialList=[factorial(i) for i in range(1,n+1)]

FactorialList

[1,
 2,
 6,
 24,
 120,
 720,
 5040,
 40320,
 362880,
 3628800,
 39916800,
 479001600,
 6227020800,
 87178291200,
 1307674368000,
 20922789888000,
 355687428096000,
 6402373705728000,
 121645100408832000,
 2432902008176640000,
 51090942171709440000,
 1124000727777607680000,
 25852016738884976640000,
 620448401733239439360000,
 15511210043330985984000000,
 403291461126605635584000000,
 10888869450418352160768000000,
 304888344611713860501504000000,
 8841761993739701954543616000000,
 265252859812191058636308480000000,
 8222838654177922817725562880000000,
 263130836933693530167218012160000000,
 8683317618811886495518194401280000000,
 295232799039604140847618609643520000000,
 10333147966386144929666651337523200000000,
 371993326789901217467999448150835200000000,
 13763753091226345046315979581580902400000000,
 523022617466601111760007224100074291200000000,
 20397882081197443358640281739902897356800000000,
 815915283247897734345611269596115894272000000000,
 33452526613163807108170062053440751665152000000000,
 1405006117752879898543142606244511569936384000000000,
 60415263063373835637355132068513997507264512000000000,
 2658271574788448768043625811014615890319638528000000000,
 119622220865480194561963161495657715064383733760000000000,
 5502622159812088949850305428800254892961651752960000000000,
 258623241511168180642964355153611979969197632389120000000000,
 12413915592536072670862289047373375038521486354677760000000000,
 608281864034267560872252163321295376887552831379210240000000000,
 30414093201713378043612608166064768844377641568960512000000000000]

In [6]:
# Store cumulative sum of numbers to

n=5

FactorialList=[sum(range(i+1)) for i in range(1,n+1)]
FactorialList

[1, 3, 6, 10, 15]

In [134]:
# list comprehension to store only leap years in a given time period 
st=1970
et=2020
LearYearList=[year for year in range(st,et+1) if(year%400==0 or (year%4==0 and year%100!=0))]
LearYearList

[1972, 1976, 1980, 1984, 1988, 1992, 1996, 2000, 2004, 2008, 2012, 2016, 2020]

In [150]:
set(li)

{1, 2, 3, 4, 5, 6, 7}

In [176]:
li=[1,2,3,4,3,2,5,3,6,7,10]

Unique=[]

[Unique.append(i) for i in li if i not in Unique ]
Unique

[1, 2, 3, 4, 5, 6, 7, 10]

### Iterators


Iterable --> Strings,Lists,Tuples,Dictonaries,Sets

Convert Iterate to Iterator --> iter

In [8]:
it=iter("Python")
next(it)
next(it)

'y'

### Generator

Generator is a function

In [ ]:
n=10
def generator():
    global n
    
    n=n**3
    yield n
    
    n=n**3
    yield n
    
    n=n**3
    yield n
    
    n=n**3
    yield n
    
    n=n**3
    yield n
    
    n=n**3
    yield n
    
    n=n**3
    yield n
    
num = generator()
next(num)
next(num)

In [227]:
n=2
def generator():
    global n
    for i in range(1,10):
        n=n**3
        y=n
        yield n
    
num = generator()
next(num)

(8, 8)